## Summary:
### - Loading data from Freddie Mac for the year 1999. Contains feature data, 25 columns
### - Loading data from a performance file for the same year that has the response vector data 
### - This file contains the column that has the status whether a loan foreclosed or not
### - Walk through each of the feature columns and transform the data as needed
### - Merge the information from the two files into one dataframe (fdata)
### - Started the process of understanding importance of various features

*******

### First step reading in data containing feature data

In [6]:
# Read in and prepare the vehicle training data.
import pandas as pd
import numpy as np

path = '../final_project_data/data/historical_data1_1999/historical_data1_Q11999.txt'
fdata = pd.read_csv(path, sep='|', index_col=False, 
                     names=['credit_score','first_pmt_date','first_time_buyer','maturity_date',
                            'met_div','mi_percent','num_units','occup_status','cltv','dti','upb','ltv',
                            'int_rate','channel','ppm_flag','prod_type','prop_state','prop_type',
                            'zipcode','loan_num','purpose','term','col23','col24','col25'], 
                     parse_dates=[1,3],error_bad_lines=False)


fdata.shape

(392776, 25)

In [7]:
#checking Datatypes of the feature data 'fdata' dataframe
fdata.dtypes

credit_score          int64
first_pmt_date       object
first_time_buyer     object
maturity_date        object
met_div             float64
mi_percent            int64
num_units             int64
occup_status         object
cltv                  int64
dti                   int64
upb                   int64
ltv                   int64
int_rate            float64
channel              object
ppm_flag             object
prod_type            object
prop_state           object
prop_type            object
zipcode             float64
loan_num             object
purpose              object
term                  int64
col23                 int64
col24                object
col25                object
dtype: object

------------

#### Featue Columns 'first_pmt_date' and 'maturity_date'

In [8]:
# converting 'first_pmt_date' and 'maturity_date' from strings to datetime
fdata['first_pmt_date'] = pd.to_datetime(fdata['first_pmt_date'], format="%Y%m")
fdata['maturity_date'] = pd.to_datetime(fdata['maturity_date'], format="%Y%m")

In [9]:
fdata.head()

,credit_score,first_pmt_date,first_time_buyer,maturity_date,met_div,mi_percent,num_units,occup_status,cltv,dti,...,prod_type,prop_state,prop_type,zipcode,loan_num,purpose,term,col23,col24,col25
0,751,1999-10-01,N,2029-09-01,NaN,0,1,P,71,20,...,FRM,PA,SF,19300.0,F199Q1000001,P,360,2,Other sellers,Other servicers
1,733,1999-09-01,N,2029-08-01,29540.0,0,1,P,51,999,...,FRM,PA,SF,17500.0,F199Q1000002,P,360,1,Other sellers,Other servicers
2,755,1999-05-01,N,2029-04-01,29540.0,30,1,P,95,38,...,FRM,PA,SF,17500.0,F199Q1000003,P,360,2,Other sellers,Other servicers
3,669,2002-06-01,N,2029-01-01,NaN,0,1,P,80,33,...,FRM,WV,SF,26100.0,F199Q1000004,P,320,2,Other sellers,Other servicers
4,732,1999-04-01,N,2029-03-01,17140.0,0,1,P,25,10,...,FRM,OH,SF,45200.0,F199Q1000005,N,360,1,Other sellers,Other servicers

In [10]:
#df['month'] = ((df.date2 - df.date1) / np.timedelta64(1, 'M')).astype(int)
fdata['mths_maturity'] = ((fdata.maturity_date - fdata.first_pmt_date) / np.timedelta64(1, 'M')).astype(int)

In [11]:
# Drop 'first_pmt_date' and 'maturity_date' columns since that data is now in the 'mths_maturity' column
fdata.drop(['first_pmt_date','maturity_date'],axis=1,inplace=True)

In [12]:
fdata.dtypes

credit_score          int64
first_time_buyer     object
met_div             float64
mi_percent            int64
num_units             int64
occup_status         object
cltv                  int64
dti                   int64
upb                   int64
ltv                   int64
int_rate            float64
channel              object
ppm_flag             object
prod_type            object
prop_state           object
prop_type            object
zipcode             float64
loan_num             object
purpose              object
term                  int64
col23                 int64
col24                object
col25                object
mths_maturity         int64
dtype: object

#### Rearrange the columns so that the 'mths_maturity' column (months to maturity) is not last.

In [13]:
cols = list(fdata.columns.values)

In [14]:
print(cols)

['credit_score', 'first_time_buyer', 'met_div', 'mi_percent', 'num_units', 'occup_status', 'cltv', 'dti', 'upb', 'ltv', 'int_rate', 'channel', 'ppm_flag', 'prod_type', 'prop_state', 'prop_type', 'zipcode', 'loan_num', 'purpose', 'term', 'col23', 'col24', 'col25', 'mths_maturity']

In [15]:
#df = df[['mean', '0', '1', '2', '3']]
fdata = fdata[['credit_score', 'first_time_buyer', 'mths_maturity', 'met_div', 'mi_percent', 'num_units', 
               'occup_status', 'cltv', 'dti', 'upb', 'ltv', 'int_rate', 'channel', 'ppm_flag', 'prod_type', 
               'prop_state', 'prop_type', 'zipcode', 'loan_num', 'purpose', 'term', 'col23', 'col24', 'col25']]

In [16]:
fdata.head()

,credit_score,first_time_buyer,mths_maturity,met_div,mi_percent,num_units,occup_status,cltv,dti,upb,...,prod_type,prop_state,prop_type,zipcode,loan_num,purpose,term,col23,col24,col25
0,751,N,359,NaN,0,1,P,71,20,180000,...,FRM,PA,SF,19300.0,F199Q1000001,P,360,2,Other sellers,Other servicers
1,733,N,359,29540.0,0,1,P,51,999,116000,...,FRM,PA,SF,17500.0,F199Q1000002,P,360,1,Other sellers,Other servicers
2,755,N,359,29540.0,30,1,P,95,38,138000,...,FRM,PA,SF,17500.0,F199Q1000003,P,360,2,Other sellers,Other servicers
3,669,N,319,NaN,0,1,P,80,33,162000,...,FRM,WV,SF,26100.0,F199Q1000004,P,320,2,Other sellers,Other servicers
4,732,N,359,17140.0,0,1,P,25,10,53000,...,FRM,OH,SF,45200.0,F199Q1000005,N,360,1,Other sellers,Other servicers

********

#### Adding a response column 'f_code'

In [17]:
# add a column called 'f_code' (freclosure code). we will set the default value to '0' for now.
# 'f_code' will be be populated from the data that we read from many performance files for the loans
# 'f_code' is the response vector and contains data that is '1' for loan that has foreclosed and 
# '0' for a loan that has not foreclosed

#create the f_code column and initialize to '0'
fdata['f_code'] = 0

In [18]:
fdata.isnull().sum()

credit_score            0
first_time_buyer        0
mths_maturity           0
met_div             53076
mi_percent              0
num_units               0
occup_status            0
cltv                    0
dti                     0
upb                     0
ltv                     0
int_rate                0
channel                 0
ppm_flag             8670
prod_type               0
prop_state              0
prop_type               0
zipcode                 9
loan_num                0
purpose                 0
term                    0
col23                   0
col24                   0
col25                   0
f_code                  0
dtype: int64

In [19]:
fdata.dtypes

credit_score          int64
first_time_buyer     object
mths_maturity         int64
met_div             float64
mi_percent            int64
num_units             int64
occup_status         object
cltv                  int64
dti                   int64
upb                   int64
ltv                   int64
int_rate            float64
channel              object
ppm_flag             object
prod_type            object
prop_state           object
prop_type            object
zipcode             float64
loan_num             object
purpose              object
term                  int64
col23                 int64
col24                object
col25                object
f_code                int64
dtype: object

*********

##### Dealing with columns 'met_div' and 'ppm_flag'

In [20]:
# Drop columns with null values
fdata.drop(['met_div','ppm_flag'],axis=1,inplace=True)

********

**********

# Next step, reading in the performance file containing information if a loan has foreclosed or not

In [21]:
perf_path = '../final_project_data/data/historical_data1_1999/historical_data1_time_Q11999.txt'
pdata = pd.read_csv(perf_path, sep='|', index_col=False, 
                     names=['loan_num','col2','col3','col4','col5','col6','col7','col8','f_code1','col10','col11','col12',
                            'col13','col14','col15','col16','col17','col18','col19','col20','col21','col22','col23'], 
                            error_bad_lines=False,low_memory=False)

In [22]:
pdata.head()

,loan_num,col2,col3,col4,col5,col6,col7,col8,f_code1,col10,...,col14,col15,col16,col17,col18,col19,col20,col21,col22,col23
0,F199Q1000001,200205,171982.43,0,37,328,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F199Q1000001,200206,171571.39,0,38,327,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F199Q1000001,200207,171158.33,0,39,326,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F199Q1000001,200208,170742.89,0,40,325,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F199Q1000001,200209,170325.17,0,41,324,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#drop the columns that are not needed
#in the performance data we are only interested in column 'f_code1' which is whether a loan foreclosed or not

pdata.drop(['col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col10'
              , 'col11', 'col12', 'col13', 'col14', 'col15', 'col16', 'col17'
              , 'col18', 'col19', 'col20', 'col21', 'col22', 'col23'], axis=1, inplace=True)

In [24]:
pdata.shape

(22439217, 2)

#### The performance data contains multiple rows for each loan_num. 
#### Removing duplicate rows reducing from 22,439,217 rows to 385,007 rows

In [25]:
pdata = pdata.drop_duplicates(keep=False)
pdata.shape

(385007, 2)

#### Working with the 'f_code1' column in the performance data 'pdata'

In [26]:
pdata.groupby( [ "f_code1"] ).count()

         loan_num
f_code1
1.0        378730
3.0          1287
6.0           645
9.0          3177

In [27]:
# remove any null values
# f_code1 is the code that will be set to '0' for all loans that have not foreclosed
# f_code1 will be set to '1' for all loans that have foreclosed
pdata.dropna(axis=0, subset=['f_code1'], inplace=True)

# set f_code 3 and 9 to 1 (foreclosured loans), codes 1 and 6 to 0 (not foreclosed)
pdata.loc[pdata.f_code1 == 1, 'f_code1'] = 0
pdata.loc[pdata.f_code1 == 6, 'f_code1'] = 0
pdata.loc[pdata.f_code1 == 3,'f_code1'] = 1
pdata.loc[pdata.f_code1 == 9, 'f_code1'] = 1

In [28]:
pdata.groupby( [ "f_code1"] ).count()

         loan_num
f_code1
0.0        379375
1.0          4464

#### Based on the above there are 4464 loans that have foreclosed
#### Next we will merge the fdata (feature data) with pdata (performance data)

In [29]:
#convert the float f_code column to an int column and then sort
pdata['f_code1'] = pdata['f_code1'].astype(int)
pdata.sort_values(by=['loan_num'],inplace=True);

In [30]:
fdata.sort_values(by=['loan_num'],inplace=True);
fdata = pd.merge(fdata,pdata[['loan_num','f_code1']],on='loan_num')
fdata.head()

,credit_score,first_time_buyer,mths_maturity,mi_percent,num_units,occup_status,cltv,dti,upb,ltv,...,prop_type,zipcode,loan_num,purpose,term,col23,col24,col25,f_code,f_code1
0,751,N,359,0,1,P,71,20,180000,71,...,SF,19300.0,F199Q1000001,P,360,2,Other sellers,Other servicers,0,0
1,733,N,359,0,1,P,51,999,116000,51,...,SF,17500.0,F199Q1000002,P,360,1,Other sellers,Other servicers,0,0
2,755,N,359,30,1,P,95,38,138000,95,...,SF,17500.0,F199Q1000003,P,360,2,Other sellers,Other servicers,0,0
3,669,N,319,0,1,P,80,33,162000,80,...,SF,26100.0,F199Q1000004,P,320,2,Other sellers,Other servicers,0,0
4,732,N,359,0,1,P,25,10,53000,25,...,SF,45200.0,F199Q1000005,N,360,1,Other sellers,Other servicers,0,0

#### merge the 'f_code' and 'f_code1' columns in fdata dataframe

In [31]:
fdata['f_code'] = fdata.f_code | fdata.f_code1

In [32]:
fdata.drop('f_code1',axis=1,inplace=True)

In [33]:
fdata.head()

,credit_score,first_time_buyer,mths_maturity,mi_percent,num_units,occup_status,cltv,dti,upb,ltv,...,prop_state,prop_type,zipcode,loan_num,purpose,term,col23,col24,col25,f_code
0,751,N,359,0,1,P,71,20,180000,71,...,PA,SF,19300.0,F199Q1000001,P,360,2,Other sellers,Other servicers,0
1,733,N,359,0,1,P,51,999,116000,51,...,PA,SF,17500.0,F199Q1000002,P,360,1,Other sellers,Other servicers,0
2,755,N,359,30,1,P,95,38,138000,95,...,PA,SF,17500.0,F199Q1000003,P,360,2,Other sellers,Other servicers,0
3,669,N,319,0,1,P,80,33,162000,80,...,WV,SF,26100.0,F199Q1000004,P,320,2,Other sellers,Other servicers,0
4,732,N,359,0,1,P,25,10,53000,25,...,OH,SF,45200.0,F199Q1000005,N,360,1,Other sellers,Other servicers,0

***********

### With the above steps the response vector f_code is merged into the feature dataframe 'fdata'
### As a result 'fdata' now has all the feature columns as well as the response column

************

#### Getting back to massaging data in feature columns of the feature data (fdata) dataframe

##### Column **'first_time_buyer'**

In [34]:
# first_time_buyer column, convert 'N' and 'Y' to '0' and '1'
fdata.loc[fdata.first_time_buyer == 'N', 'first_time_buyer'] = 0
fdata.loc[fdata.first_time_buyer == 'Y', 'first_time_buyer'] = 1

#convert the float f_code column to an int column and then sort
fdata['first_time_buyer'] = fdata['first_time_buyer'].astype(int)

**********

##### Column **'mi_percent'**

In [35]:
# Determine the number of loans for which the mi_percent or Mortgage Insurance Percentage value is not available.
# These values were set to 999
fdata[fdata.mi_percent == 999].mi_percent.count()

101282

In [36]:
# Given that 101282 rows do not have the mi_percent data, we will drop this column from consideration as a feature
# Drop mi_percent column
fdata.drop(['mi_percent'],axis=1,inplace=True)

************

##### Column **'num_units'**

In [37]:
#fdata[fdata.num_units == 99].num_units.count()
#num_units - Denotes whether the mortgage is a 
#1 - one-unit property,
#2 - two-unit propert,
#3 - three-unit propert, or 
#4 - four-unit property.
#num_units value of 99 implies that it is unknown

fdata.groupby(['num_units']).num_units.count()

num_units
1     375777
2       6232
3        911
4        917
99         2
Name: num_units, dtype: int64

In [38]:
#given that the most likely num_units value is 1, we will set the rows with '99' value for num_units to '1'
fdata.loc[fdata.num_units == 99, 'num_units'] = 1

*************

##### Column **'occup_status'**

In [39]:
#occup_status or occupancy status
#P = Primary Residence
#I = Investment Property
#S = Second Home
#9 = Not Available
fdata.groupby(['occup_status']).occup_status.count()

occup_status
I     12693
P    362173
S      8973
Name: occup_status, dtype: int64

In [40]:
fdata.loc[fdata.occup_status == 'P', 'occup_status'] = 1
fdata.loc[fdata.occup_status == 'I', 'occup_status'] = 2
fdata.loc[fdata.occup_status == 'S', 'occup_status'] = 3
fdata['occup_status'] = fdata['occup_status'].astype(int)

***********

##### Column **'cltv'**

In [41]:
# ORIGINAL COMBINED LOAN-TO-VALUE (CLTV) 0% - 200% , 999 = Not Available
# Removing rows where 'cltv' is not available (only 4 rows had not cltv not available)
fdata = fdata[fdata["cltv"] != 999]

In [42]:
fdata.dtypes

credit_score          int64
first_time_buyer      int64
mths_maturity         int64
num_units             int64
occup_status          int64
cltv                  int64
dti                   int64
upb                   int64
ltv                   int64
int_rate            float64
channel              object
prod_type            object
prop_state           object
prop_type            object
zipcode             float64
loan_num             object
purpose              object
term                  int64
col23                 int64
col24                object
col25                object
f_code                int64
dtype: object

In [43]:
fdata.head()

,credit_score,first_time_buyer,mths_maturity,num_units,occup_status,cltv,dti,upb,ltv,int_rate,...,prop_state,prop_type,zipcode,loan_num,purpose,term,col23,col24,col25,f_code
0,751,0,359,1,1,71,20,180000,71,6.30,...,PA,SF,19300.0,F199Q1000001,P,360,2,Other sellers,Other servicers,0
1,733,0,359,1,1,51,999,116000,51,6.30,...,PA,SF,17500.0,F199Q1000002,P,360,1,Other sellers,Other servicers,0
2,755,0,359,1,1,95,38,138000,95,6.60,...,PA,SF,17500.0,F199Q1000003,P,360,2,Other sellers,Other servicers,0
3,669,0,319,1,1,80,33,162000,80,7.12,...,WV,SF,26100.0,F199Q1000004,P,320,2,Other sellers,Other servicers,0
4,732,0,359,1,1,25,10,53000,25,6.50,...,OH,SF,45200.0,F199Q1000005,N,360,1,Other sellers,Other servicers,0

**********

#### Column **'dti'** a value of **999** implies that the debt to income ratio is unknown.
#### checking the mean and median values

In [44]:
fdata[(fdata.dti != 999)].dti.mean()

31.53789904158944

In [45]:
fdata.dti.median()

32.0

** The mean and median values are fairly close so I will assign a value of th emedian to all '999' dti values**

In [46]:
fdata.loc[fdata.dti == 999, 'dti'] = fdata.dti.median()

*********

##### Column **'UPB'** nothing to do in this case, this is the unpaid balance

In [47]:
# upb is the ORIGINAL UPB (unpaid balance?) on the mortgage on the note date

***********

##### Column **'ltv'**

In [48]:
# ltv - ORIGINAL LOAN-TO-VALUE (LTV)
# 6% - 105%
# 999 = Not Available
#fdata = fdata[fdata["ltv"] != 999]

In [49]:
fdata[fdata.ltv == 999].ltv.count()

0

#### Looks like there are no rows with a value of 999 for the 'ltv' column, so not much to do in this case

***********

##### Column **'int_rate'**

In [50]:
# int_rate - orginal interest rate
fdata.int_rate.describe()

count    383835.000000
mean          6.925827
std           0.333159
min           4.750000
25%           6.750000
50%           6.875000
75%           7.125000
max          12.350000
Name: int_rate, dtype: float64

#### There is no modification needed to the 'int_rate' column

*************

##### Column **'channel'**

In [51]:
# channel - indicates whether a Broker or Correspondent,as those terms are defined below, originated 
# or was involved in the origination of the mortgage loan.
# R = Retail - replace with '1'
# B = Broker - replace with '2'
# C = Correspondent - replace with '3'
# T = TPO Not Specified - replace with '9'
# 9 = Not Available - replace with '9'

# check if there are any rows where the data for channel is not Available
fdata[fdata.channel == '9'].channel.count()

0

##### Looks like we have channel data for all rows, so we just need to assuign integer values 
##### for the channel types and convert the data type to 'int'

In [52]:
fdata.loc[fdata.channel == 'R', 'channel'] = 1
fdata.loc[fdata.channel == 'B', 'channel'] = 2
fdata.loc[fdata.channel == 'C', 'channel'] = 3
fdata.loc[fdata.channel == 'T', 'channel'] = 4
fdata['channel'] = fdata['channel'].astype(int)

**************

##### Column **'prod_type'**

In [53]:
# prod_type - PRODUCT TYPE - Denotes that the product is a fixed-rate mortgage.
# FRM – Fixed Rate Mortgage
fdata.groupby(['prod_type']).prod_type.count()

prod_type
FRM    383835
Name: prod_type, dtype: int64

##### Based on the above since all the loans are Fixed Rate mortgages (FRM) we should drop this column, 
##### prod_type is obviously not a variable

In [54]:
# Drop column with null values
fdata.drop(['prod_type'],axis=1,inplace=True)

*********

##### Column **'prop_state'** Assign discrete integer values to the states

In [55]:
# prop_state - property state - state in which the property is located.
# setting state abbreviations to discrete int values
fdata.loc[fdata.prop_state == 'AK', 'prop_state'] = 1
fdata.loc[fdata.prop_state == 'AL', 'prop_state'] = 2
fdata.loc[fdata.prop_state == 'AR', 'prop_state'] = 3
fdata.loc[fdata.prop_state == 'AZ', 'prop_state'] = 4
fdata.loc[fdata.prop_state == 'CA', 'prop_state'] = 5
fdata.loc[fdata.prop_state == 'CO', 'prop_state'] = 6
fdata.loc[fdata.prop_state == 'CT', 'prop_state'] = 7
fdata.loc[fdata.prop_state == 'DC', 'prop_state'] = 8
fdata.loc[fdata.prop_state == 'DE', 'prop_state'] = 9
fdata.loc[fdata.prop_state == 'FL', 'prop_state'] = 10
fdata.loc[fdata.prop_state == 'GA', 'prop_state'] = 11
fdata.loc[fdata.prop_state == 'GU', 'prop_state'] = 12
fdata.loc[fdata.prop_state == 'HI', 'prop_state'] = 13
fdata.loc[fdata.prop_state == 'IA', 'prop_state'] = 14
fdata.loc[fdata.prop_state == 'ID', 'prop_state'] = 15
fdata.loc[fdata.prop_state == 'IL', 'prop_state'] = 16
fdata.loc[fdata.prop_state == 'IN', 'prop_state'] = 17
fdata.loc[fdata.prop_state == 'KS', 'prop_state'] = 18
fdata.loc[fdata.prop_state == 'KY', 'prop_state'] = 19
fdata.loc[fdata.prop_state == 'LA', 'prop_state'] = 20
fdata.loc[fdata.prop_state == 'MA', 'prop_state'] = 21
fdata.loc[fdata.prop_state == 'MD', 'prop_state'] = 22
fdata.loc[fdata.prop_state == 'ME', 'prop_state'] = 23
fdata.loc[fdata.prop_state == 'MI', 'prop_state'] = 24
fdata.loc[fdata.prop_state == 'MN', 'prop_state'] = 25
fdata.loc[fdata.prop_state == 'MO', 'prop_state'] = 26
fdata.loc[fdata.prop_state == 'MS', 'prop_state'] = 27
fdata.loc[fdata.prop_state == 'MT', 'prop_state'] = 28
fdata.loc[fdata.prop_state == 'NC', 'prop_state'] = 29
fdata.loc[fdata.prop_state == 'ND', 'prop_state'] = 30
fdata.loc[fdata.prop_state == 'NE', 'prop_state'] = 31
fdata.loc[fdata.prop_state == 'NH', 'prop_state'] = 32
fdata.loc[fdata.prop_state == 'NJ', 'prop_state'] = 33
fdata.loc[fdata.prop_state == 'NM', 'prop_state'] = 34
fdata.loc[fdata.prop_state == 'NV', 'prop_state'] = 35
fdata.loc[fdata.prop_state == 'NY', 'prop_state'] = 36
fdata.loc[fdata.prop_state == 'OH', 'prop_state'] = 37
fdata.loc[fdata.prop_state == 'OK', 'prop_state'] = 38
fdata.loc[fdata.prop_state == 'OR', 'prop_state'] = 39
fdata.loc[fdata.prop_state == 'PA', 'prop_state'] = 40
fdata.loc[fdata.prop_state == 'PR', 'prop_state'] = 41
fdata.loc[fdata.prop_state == 'RI', 'prop_state'] = 42
fdata.loc[fdata.prop_state == 'SC', 'prop_state'] = 43
fdata.loc[fdata.prop_state == 'SD', 'prop_state'] = 44
fdata.loc[fdata.prop_state == 'TN', 'prop_state'] = 45
fdata.loc[fdata.prop_state == 'TX', 'prop_state'] = 46
fdata.loc[fdata.prop_state == 'UT', 'prop_state'] = 47
fdata.loc[fdata.prop_state == 'VA', 'prop_state'] = 48
fdata.loc[fdata.prop_state == 'VT', 'prop_state'] = 49
fdata.loc[fdata.prop_state == 'WA', 'prop_state'] = 50
fdata.loc[fdata.prop_state == 'WI', 'prop_state'] = 51
fdata.loc[fdata.prop_state == 'WV', 'prop_state'] = 52
fdata.loc[fdata.prop_state == 'WY', 'prop_state'] = 53

In [56]:
fdata['prop_state'] = fdata['prop_state'].astype(int)

************

In [57]:
fdata.dtypes

credit_score          int64
first_time_buyer      int64
mths_maturity         int64
num_units             int64
occup_status          int64
cltv                  int64
dti                 float64
upb                   int64
ltv                   int64
int_rate            float64
channel               int64
prop_state            int64
prop_type            object
zipcode             float64
loan_num             object
purpose              object
term                  int64
col23                 int64
col24                object
col25                object
f_code                int64
dtype: object

*********

##### Column **'prop_type'**

In [58]:
# prop_type PROPERTY TYPE - Denotes whether the property type secured by the mortgage is a condominium, 
# leasehold, planned unit development (PUD), cooperative share, manufactured home, or Single Family home.
# CO = Condo - set to '1'
# PU = PUD - set to '2'
# MH = Manufactured Housing - set to '3'
# SF = 1-4 Fee Simple Single Family Home - set to '4'
# CP = Co-op - set to '5'
# 99 = Not Available

# first check if there are any rows with '99' value

In [59]:
fdata[fdata.prop_type == '99'].prop_type.count()

22

In [60]:
fdata.groupby(['prop_type']).prop_type.count()

prop_type
99        22
CO     23027
CP       197
MH       762
PU     37199
SF    322628
Name: prop_type, dtype: int64

In [61]:
# based on the above, since property types are Single Family, we will assign that as the value for all the rows that 
# have '99' value (not available)
fdata.loc[fdata.prop_type == '99', 'prop_type'] = 'SF'
fdata.groupby(['prop_type']).prop_type.count()

prop_type
CO     23027
CP       197
MH       762
PU     37199
SF    322650
Name: prop_type, dtype: int64

In [62]:
# setting discrete integer values for the string values and then converting to integer type

fdata.loc[fdata.prop_type == 'CO', 'prop_type'] = 1
fdata.loc[fdata.prop_type == 'PU', 'prop_type'] = 2
fdata.loc[fdata.prop_type == 'MH', 'prop_type'] = 3
fdata.loc[fdata.prop_type == 'SF', 'prop_type'] = 4
fdata.loc[fdata.prop_type == 'CP', 'prop_type'] = 5

fdata['prop_state'] = fdata['prop_state'].astype(int)

*********

##### Column **'zipcode'**

In [63]:
#check if there are any NaN
fdata[fdata.zipcode.isnull()].zipcode

107125   NaN
181864   NaN
262091   NaN
262256   NaN
309784   NaN
310195   NaN
310388   NaN
317025   NaN
364992   NaN
Name: zipcode, dtype: float64

In [64]:
# removing rows with missing zipcode data
fdata = fdata.dropna(subset=['zipcode'])

In [65]:
# convert to the 'zipcode' column to integer type
fdata['zipcode'] = fdata['zipcode'].astype(int)

***********

##### Column **'purpose'**

In [66]:
# purpose - LOAN PURPOSE - Indicates whether the mortgage loan is a Cash-out Refinance mortgage, 
# No Cash-out Refinance mortgage, or a Purchase mortgage.
# P = Purchase set to '1'
# C = Cash-out Refinance - set to '2'
# N = No Cash-out Refinance - set to '3'
# 9 = Not Available

fdata.groupby(['purpose']).purpose.count()

purpose
C     86587
N    148956
P    148283
Name: purpose, dtype: int64

In [67]:
fdata.loc[fdata.purpose == 'P', 'purpose'] = 1
fdata.loc[fdata.purpose == 'C', 'purpose'] = 2
fdata.loc[fdata.purpose == 'N', 'purpose'] = 3
# convert to integer type
fdata['purpose'] = fdata['purpose'].astype(int)
fdata.groupby(['purpose']).purpose.count()

purpose
1    148283
2     86587
3    148956
Name: purpose, dtype: int64

*************

##### Column **'term'**

In [68]:
# term - ORIGINAL LOAN TERM - A calculation of the number of scheduled monthly payments of the mortgage 
# based on the First Payment Date and Maturity Date.
# no need to make any modifications to this feature

***********

##### Columns **'col23', 'col24', 'col25'**

In [69]:
# dropping columns 'col23', 'col24', 'col25'. There is no information about these columns in the Freddie Mac data
# Drop column with null values
fdata.drop(['col23','col24','col25'],axis=1,inplace=True)

In [70]:
fdata.shape

(383826, 18)

In [71]:
fdata.tail()

,credit_score,first_time_buyer,mths_maturity,num_units,occup_status,cltv,dti,upb,ltv,int_rate,channel,prop_state,prop_type,zipcode,loan_num,purpose,term,f_code
383834,718,0,306,1,1,55,30.0,44000,55,5.500,1,36,5,11300,F199Q1401556,3,308,0
383835,664,1,359,1,1,97,19.0,75000,97,7.000,1,43,4,29400,F199Q1401559,1,360,0
383836,636,1,359,1,1,97,21.0,75000,97,7.000,1,2,4,35400,F199Q1401562,1,360,1
383837,605,1,359,1,1,97,17.0,55000,97,7.125,1,11,2,30900,F199Q1401568,1,360,0
383838,738,9,359,1,1,68,33.0,93000,68,6.625,1,45,4,37000,F199Q1401569,3,360,0

*************

#### setting the index to the 'loan_num' column

In [72]:
fdata.set_index('loan_num', inplace=True)

In [73]:
fdata.head()

,credit_score,first_time_buyer,mths_maturity,num_units,occup_status,cltv,dti,upb,ltv,int_rate,channel,prop_state,prop_type,zipcode,purpose,term,f_code
loan_num,,,,,,,,,,,,,,,,,
F199Q1000001,751,0,359,1,1,71,20.0,180000,71,6.30,1,40,4,19300,1,360,0
F199Q1000002,733,0,359,1,1,51,32.0,116000,51,6.30,1,40,4,17500,1,360,0
F199Q1000003,755,0,359,1,1,95,38.0,138000,95,6.60,1,40,4,17500,1,360,0
F199Q1000004,669,0,319,1,1,80,33.0,162000,80,7.12,1,52,4,26100,1,320,0
F199Q1000005,732,0,359,1,1,25,10.0,53000,25,6.50,1,37,4,45200,3,360,0

In [74]:
fdata.dtypes

credit_score          int64
first_time_buyer      int64
mths_maturity         int64
num_units             int64
occup_status          int64
cltv                  int64
dti                 float64
upb                   int64
ltv                   int64
int_rate            float64
channel               int64
prop_state            int64
prop_type             int64
zipcode               int64
purpose               int64
term                  int64
f_code                int64
dtype: object

**************

***********

## Feature Selection

In [75]:
fdata.columns

Index(['credit_score', 'first_time_buyer', 'mths_maturity', 'num_units',
       'occup_status', 'cltv', 'dti', 'upb', 'ltv', 'int_rate', 'channel',
       'prop_state', 'prop_type', 'zipcode', 'purpose', 'term', 'f_code'],
      dtype='object')

In [76]:
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

#### Using 'SelectKBest' class to select the 8 best features

In [77]:

array = fdata.values
X = array[:, :-1]
y = array[:, -1]
# feature extraction
test = SelectKBest(score_func=chi2, k=3)
fit = test.fit(X, y)
# summarize scores
np.set_printoptions(precision=3,suppress=True)
col_names = ['credit_score', 'first_time_buyer', 'mths_maturity', 'num_units',
            'occup_status', 'cltv', 'dti', 'upb', 'ltv', 'int_rate', 'channel',
            'prop_state', 'prop_type', 'zipcode', 'purpose', 'term']

for i in range(len(col_names)):
    print("Column '"+ str(col_names[i])+ "' score = "+ str(fit.scores_[i]))
#features = fit.transform(X)
# summarize selected features
#print(features[0:5,:])

Column 'credit_score' score = 242.44532438071116
Column 'first_time_buyer' score = 12.261020447852005
Column 'mths_maturity' score = 0.06524491043192608
Column 'num_units' score = 0.20729432145411486
Column 'occup_status' score = 5.805189555228528
Column 'cltv' score = 3765.3959624270337
Column 'dti' score = 736.2981760218232
Column 'upb' score = 34840304.87764357
Column 'ltv' score = 3817.569412228724
Column 'int_rate' score = 15.562024656482642
Column 'channel' score = 65.6797400600153
Column 'prop_state' score = 3428.7028318197054
Column 'prop_type' score = 37.67981426938088
Column 'zipcode' score = 329426.40109264076
Column 'purpose' score = 0.4662814780220138
Column 'term' score = 0.06245725770334685

#### Based on SelectKBest class the features sorted descending by score are:
#### 1) Column 'upb' score = 34840304.87
#### 2) Column 'zipcode' score = 329426.40
#### 3) Column 'ltv' score = 3817.56
#### 4) Column 'cltv' score = 3765.39
#### 5) Column 'prop_state' score = 3428.70
#### 6) Column 'dti' score = 736.29
#### 7) Column 'credit_score' score = 242.44
#### 8) Column 'channel' score = 65.67

#### Recursive Feature Elimination: The Recursive Feature Elimination (or RFE) works by recursively removing attributes and building a model on those attributes that remain

In [78]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

array = fdata.values
X = array[:, :-1]
y = array[:, -1]
# feature extraction
model = LogisticRegression()
rfe = RFE(model, 8)
fit = rfe.fit(X, y)

In [79]:
print("Num Features: "+str(fit.n_features_))
print("Selected Features: "+str(fit.support_))
print("Feature Ranking: "+ str(fit.ranking_))

Num Features: 8
Selected Features: [False False False  True  True  True False False  True  True  True False
  True False  True False]
Feature Ranking: [8 6 3 1 1 1 5 7 1 1 1 4 1 9 1 2]

#### Features by Rank using the RFE method
#### Column 'num_units' rank 1
#### Column 'occup_status' rank 1
#### Column 'cltv' rank 1
#### Column 'ltv' rank 1
#### Column 'int_rate' rank 1
#### Column 'channel' rank 1
#### Column 'prop_type' rank 1
#### Column 'purpose' rank 1
#### Column 'term' rank 2
#### Column 'mths_maturity' rank 3

### Feature Importance: 
#### Bagged decision trees like Random Forest and Extra Trees can be used to estimate the importance of features.

In [80]:
from sklearn.ensemble import ExtraTreesClassifier

array = fdata.values
X = array[:, :-1]
y = array[:, -1]
# feature extraction
model = ExtraTreesClassifier()
model.fit(X, y)
print(model.feature_importances_)

[0.17  0.028 0.001 0.004 0.005 0.052 0.141 0.163 0.053 0.123 0.009 0.077
 0.011 0.144 0.016 0.001]

### Feature columns in terms of importance
#### 'credit_score'    :0.172, 
#### 'upb'             :0.162, 
#### 'dti'             :0.146,
#### 'zipcode'         :0.144,
#### 'int_rate'        :0.119,
#### 'prop_state'      :0.083,
#### 'cltv'            :0.049,
#### 'ltv'             :0.048,
#### 'first_time_buyer':0.025,
#### 'purpose'         :0.017,
#### 'prop_type'       :0.012,
#### 'channel'         :0.012,
#### 'num_units'       :0.004,
#### 'occup_status'    :0.004,
#### 'mths_maturity'   :0.001, 
#### 'term'            :0.001

***********

|                     | credit_ score | upb | dti | zip code | int_ rate | prop_ state | cltv | ltv | first_ time_ buyer | purpose | prop_ type | channel | num_ units | occup_ status | mths_ maturity | term |
|---------------------|---------------|-----|-----|----------|-----------|-------------|------|-----|--------------------|---------|------------|---------|------------|---------------|----------------|------|
| SelectKBest         | 7             | 1   | 6   | 2        | 8+        | 5           | 4    | 3   | 8+                 | 8+      | 8+         | 8       | 8+         | 8+            | 8+             | 8+   |
| RFE                 | 1+            | 1+  | 1+  | 1+       | 1         | 1+          | 1    | 1   | 1+                 | 1       | 1          | 1       | 1          | 1             | 1+             | 1+   |
| Feature  Importance | 1             | 2   | 3   | 4        | 5         | 6           | 7    | 8   | 8+                 | 8+      | 8+         | 8+      | 8+         | 8+            | 8+             | 8+   |
|                     | [ ]           | [ ] | [ ] | [ ]      | [ ]       | [ ]         | [X]  | [X] | [ ]                | [ ]     | [ ]        | [ ]     | [ ]        | [ ]           | [ ]            | [ ]  |

### Based on three methods used to rank features in terms of importance, 'CLTV' and 'LTV' seemed to be only ones that rank among the top 8 out of 16 in all the methods

*************